.authentication-con {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, rgba(26, 55, 126, 0.7), rgba(0, 176, 255, 0.7));
  height: 100vh;
}

.auth-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00b0ff;
  margin-bottom: 20px;
}

.auth-btn {
  background-color: #00b0ff !important;
  color: white;
  margin-top: 20px !important;
  font-size: 1rem !important;
  text-transform: capitalize !important;
}

.auth-link {
  color: #1976d2;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
