.heroes-title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  color: #fff;
}

.hero-screen-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.hero-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 25px;
  margin: 25px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.hero-card-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-card-title {
  margin: 0;
  font-size: 18px;
  color: #fff;
}

.hero-content {
  margin-top: 12px;
}

.hero-text {
  margin: 6px 0;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.hero-current-power {
  color: #fff;
  font-weight: 500;
  margin: 0;
  font-size: 18px;
  width: 55px;
}

.hero-button {
  background-color: #00b0ff !important;
  color: #fff;
  padding: 8px 16px !important;
  margin-top: 10px !important;
  font-size: 1rem !important;
  text-transform: capitalize !important;
  width: 100%;
}

.hero-card-title-con {
  display: flex;
  justify-content: space-between;
}

.hero-card-ability {
  text-transform: capitalize;
  margin: 0;
  color: #fff;
  position: relative;
}

.hero-ability-img-attack {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: -1;
  transform: translateY(-50%);
}

.hero-ability-img-defend {
  width: 50px !important;
  height: 50px !important;
  position: absolute;
  top: 50%;
  color: #00b0ff !important;
  left: 15px;
  z-index: -1;
  transform: translateY(-50%);
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #00b0ff !important;
  color: #fff !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  display: flex;
  align-items: center;
}

.hero-card-con {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hero-button:hover {
  background-color: #0056b3 !important;
}

.hero-screen-separator {
  margin-top: 50px;
}

@media (max-width: 1250px) {
  .hero-card {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .hero-card {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .hero-card {
    margin: 20px 0;
  }

  .hero-screen-con {
    padding: 20px;
  }
}
